{% extends "base.html" %}

{% block content %}

{% if form.errors  %}
  <div class="alert alert-danger" role="alert">
    <p>Your usernamne and password didn't match. Please try again.</p>
  </div>
{% endif %}
    <div class="left-panel">
        <div class="card">
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <div class="card-content">
                    <span class="card-title gray-text text-darken-2">Login</span>
                    <div class="row">
                        <div class="input-field col s12 required" id="id_username_container">
                            <i class="material-icons prefix">account_box</i>
                            <input id="id_username" name="username" type="text">
                            <label for="id_username">Username</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 required" id="id_password_container">
                            <i class="material-icons prefix">lock_open</i>
                            <input id="id_password" name="password" type="password">
                            <label for="id_password">Password</label>
                        </div>
                    </div>
                    <button type="submit" class="waves-effect waves-light btn">Login</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}