{% extends "base.html" %}

{% load staticfiles %}

{% block title %}{{ profile_user.username }}{% endblock %}

{% block content %}
    <div class="left-panel">
        <div class="card">
            <div class="card-content">
                <div class="card-title gray-text text-darken-2">
                    <span class="card-title gray-text text-darken-2">
                        {{ profile_user.get_full_name }}
                    </span>
                </div>
                <p class="note300">ノート一覧</p>
                {% for note in notes %}
                    {% if note.user == profile_user %}
                        ・ <a href="/notes/note/{{ note.title }}">{{ note.title }}</a><br>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    {% if profile_user == request.user %}
        <div class="right-panel">
            <div class="card">
                <div class="card-content">
                    <a href="/accounts/edit"><p class="note300">Edit</p></a>
                </div>
            </div>
        </div>
    {% endif %}

    <i class="fixed-action-btn">
        <a class="btn-floating btn-large waves-effect waves-light red z-depth-2" href="/notes/add/">
            <i class="large material-icons">add</i>
        </a>
    </i>

{% endblock %}
