{% extends "base.html" %}

{% load staticfiles %}

{% block title %}{% endblock %}

{% block content %}
    <div class="left-panel">
        <div class="card">
            <form method="post" class="viewform">
                <div class="card-content">
                    <div class="card-title">
                        {{ note.title }}
                    </div>
                    <div class="card-panel">
                        {{ note.content }}
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="right-panel">
        <div class="card">
            <div class="card-content">
                <div class="card-title">Tags</div>
                {% for tag in note.tag.all %}
                    ・ <a href="/notes/tag/{{ tag.id }}">{{ tag.name }}</a>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}