{% extends "base.html" %}

{% load staticfiles %}

{% block title %}{% endblock %}

{% block content %}
    <div class="left-panel">
        <div class="card">
            <form method="post" class="viewform">
                <div class="card-content">
                    <div class="card-title">
                        {{ tag.name }}
                    </div>
                    {% for note in notes %}
                        {% for foo in note.tag.all %}
                            {% if foo == tag %}
                                ・ <a href="/notes/note/{{ note.title }}">{{ note.title }}</a><br>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
            </form>
        </div>
    </div>

    <div class="right-panel">
        <div class="card">
            <div class="card-content">

            </div>
        </div>
    </div>

{% endblock %}