{% extends "base.html" %}

{% load staticfiles %}

{% block title %}{% endblock %}

{% block content %}

    <div class="left-panel">

        {% for grade_table in grade_tables %}

            <div class="card">
                <div class="card-content">
                    <span class="card-title">
                        {{ grade_table.year }} 年度
                    </span>

                    <div class="app-list">
                        {% for user_table in grade_table.user_table %}
                            <div class="app">
                                <div class="card-panel">
                                    <div class="app-item col s6 m6 l10">
                                        <p class="note300">{{ user_table.grade.formal_name }}</p>
                                        {% for user in user_table.users %}
                                            <p class="note100">・<a href="/accounts/user/{{ user.get_username }}/">
                                                {{ user.get_full_name }}
                                            </a></p>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                </div>
            </div>


        {% endfor %}
    </div>

    <div class="right-panel">
        <div class="card">
            <div class="card-content">
                <div class="card-title">Tags</div>
                {% for tag in tags %}
                    <p class="note100"><a href="/notes/tag/{{ tag.id }}">{{ tag.name }}</a></p>
                {% endfor %}
            </div>
        </div>
    </div>

    <i class="fixed-action-btn">
        <a class="btn-floating btn-large waves-effect waves-light red z-depth-2" href="/notes/add/">
            <i class="large material-icons">add</i>
        </a>
    </i>

{% endblock %}