{% extends "base.html" %}

{% load staticfiles %}

{% block title %}{{ profile_user.username }}{% endblock %}

{% block content %}
    {% if profile_user == login_user %}
        <div class="left-panel">
            <div class="card">
                <div class="card-content">
                    <span class="card-title gray-text text-darken-2">My page</span>
                </div>
            </div>
        </div>
    {% else %}
        <div class="left-panel">
            <div class="card">
                <div class="card-content">
                    <span class="card-title gray-text text-darken-2">お前じゃない</span>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
